body{
    margin: 0;
    font-family: "Roboto", sans-serif;
    background-color: #03AED2;
}
.korobka{
    height:80vh;
    margin: 5px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero{
    background-color: #FEEFAD;
    display: flex;
    height: 99vh;
}
h1{
    font-size: 110px;
    margin: 15px 0 15px 0;
}
.dema{
    position: absolute;
    top: 2000px;
    left: 400px;
}
h2{
    font-size: 115px;
    margin-bottom:  70px;
}
.aktobe{
    position: absolute;
    top:2500px;
    left: 400px;
}
.sbornaya{
    position: absolute;
    top: 4500px;
    left: 300px;
}
h3{
    font-size: 90px;
    margin: 30px 0 0 0;
}
img{
    z-index: 2;
    width: 40%;
}
.krug{
    z-index: 1;
    top: 100px;
    left: calc(50%+50px);
    position: absolute;
    height: 99px;
    width: 900px;
    border: 100%;
}
.navbar{
    margin: 20px 100px;
    background-color: #FDDE55;
    border: 1px solid wheat;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 0 50px;
    height: 80px;
}
.logo{
    font-size: 50px;
    margin: 0 50px 0 50px;
}
.link{
    text-decoration: none;
    font-size: 35px;
    margin: 0 0 0 50px;
}