body{
    margin: 0;
    font-family: "Roboto", sans-serif;
    background-color: ;
}
.korobka{
    height: 99vh;
    margin: 15px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: baseline;
}
.hero{
    background-color: ;
    display: flex;
    color: ;
    height: 99vh;
}
h1{
    font-size: 100px;
    margin: 15px 0 15px 0;
}
h2{
    font-size: 30px;
    margin: 0;
}
img{
    z-index: 2;
    width: 60%;
}
.krug{
    z-index: 1;
    top: 100px;
    left: calc(50%+50px);
    position: absolute;
    width: 900px;
    height: 900px;
    background-color: rgb(red, green, blue);
    background: linear-gradient(90deg, rgba() 0%, rgba());
    border: 100%;
}
.navbar{
    margin20px 100px;
    background-color: ;
    border: 1px solid black;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 0 50px;
    height: 80px;
}
.logo{
    font-size: 30px;
    margin: 0 50px 0 50px;
}
.link{
    text-decoration: none;
    font-size: 20px;
    margin: 0 0 0 50px;
}